<a ui-sref="home">Home</a> &lt; <a ui-sref="lista-regioni">Lista regioni</a> &lt; <a ui-sref="andamento-regionale({regione: fotografiareg.items.denominazione_regione})">Andamento Regionale - Regione {{ fotografiareg.items.denominazione_regione }}</a> &lt; <span>Fotografia Dataset</span> 

<h3>Fotografia dataset al {{ fotografiareg.datatrunc }}</h3> 


<!-- 
<div>Item name: {{ fotografia.data }}</div>
<div>Item quantity: {{ fotografia.nuovi_positivi }}</div>
<div>Item description: {{ fotografia.totale_casi }}</div>

 <menu-items-list items="menuitems.items"></menu-items-list> --> 

<ul>
  <li>
    Denominazione Regione: {{ fotografiareg.items.denominazione_regione }}</a>
  </li>
  <li>
    Data: {{ fotografiareg.items.data }}</a>
  </li>
  <li>
    Nuovi positivi: {{ fotografiareg.items.nuovi_positivi }}
  </li>
  <li>
    Totale positivi: {{ fotografiareg.items.totale_casi }}
  </li>
</ul> 



