<a ui-sref="home">Home</a> &lt; <a ui-sref="andamento-nazionale">Andamento Nazionale</a> &lt; <span>Fotografia Dataset</span> 

<h4>Fotografia dataset del {{ fotografia.datatrunc }}</h4> 

<ul>
  <li>
    Data: {{ fotografia.items.data }}</a>
  </li>
  <li>
    Nuovi positivi: {{ fotografia.items.nuovi_positivi }}
  </li>
  <li>
    Totale positivi: {{ fotografia.items.totale_casi }}
  </li>
</ul> 

<h4>Dati ISTAT Regione Nazionali</h4>

<ul>
  <li>
    Popolazione: {{fotografia.items.popolaz}}
  </li>
</ul>

<h4>Indicatori nazionali del {{ fotografia.datatrunc }}</h4>

<ul>
  <li>
    Incidenza: {{fotografia.items.incidenza}}
  </li>
  <li>
    Prevalenza: {{fotografia.items.prevalenza}}
  </li>
</ul>

