<a ui-sref="home">Home</a> &lt; <a ui-sref="lista-regioni">Lista regioni</a> &lt; <a ui-sref="andamento-regionale({regione: fotografiareg.items.denominazione_regione})">Andamento Regionale - Regione {{ fotografiareg.items.denominazione_regione }}</a> &lt; <span>Fotografia Dataset</span> 

<h4>Fotografia regionale del {{ fotografiareg.datatrunc }}</h4> 

<ul>
  <li>
    Data: {{ fotografiareg.items.data }}</a>
  </li>
  <li>
    Nuovi positivi: {{ fotografiareg.items.nuovi_positivi }}
  </li>
  <li>
    Totale positivi: {{ fotografiareg.items.totale_casi }}
  </li>
</ul>

<h4>Dati ISTAT Regione {{ fotografiareg.items.denominazione_regione }}</h4>

<ul>
  <li>
    Popolazione: {{fotografiareg.items.popolaz}}
  </li>
</ul>

<h4>Indicatori regionali del {{ fotografiareg.datatrunc }}</h4>

<ul>
  <li>
    Incidenza: {{fotografiareg.items.incidenza}}
  </li>
  <li>
    Prevalenza: {{fotografiareg.items.prevalenza}}
  </li>
</ul>



