<h4>Riepilogo nazionale - dataset più recente {{home.datatrunc}}</h4> 
<div id="riepilogo">
Dato nazionale
<ul>
	<li>Data: {{home.latest.data}}</li>
	<li>Nuovi Positivi: {{home.latest.nuovi_positivi}}</li>	
	<li>Totale Positivi: {{home.latest.totale_positivi}}</li>
</ul>
<br/>

Dati ISTAT Nazionali
<ul>
	<li>Popolazione: {{home.latest.popolaz}}</li>
</ul>

<br/>
Indicatori 
<ul>
	<li>Incidenza Nazionale: {{home.latest.incidenza}}</li>
	<li>Prevalenza Nazionale: {{home.latest.prevalenza}}</li>	

</div>

<div id="map"></div>

<div id="tastonaz">
	<button ui-sref="andamento-nazionale">Andamento Nazionale</button>
</div>
<div id="tastoreg">
	<button ui-sref="lista-regioni">Andamento Regionale</button>
</div>
